*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exp
*.exe
*.out
*.app
*.cubin
*.ptx
*.fatbin
*.cu.o
*.obj

test/bin/
build/
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
**/Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

.history/

.cache/

*.vsix

draft/

log
tmp
*.rdb
*.svg
perf/
perf.data*
*.data
*.perf
*.folded
palette.map


__pycache__/
*.py[cod]
*$py.class

dist/
*.egg-info/
*.egg

venv/
env/
.venv/
.env/
env.bak/
venv.bak/
conda-env/

*.log
*.swp
*.swo
.DS_Store
*.tmp
*.bak
.cache/
.pytest_cache/

.mypy_cache/
.ruff_cache/

.ipynb_checkpoints/
*.ipynb

*.pt
*.pth
*.bin
*.ckpt
*.safetensors
torch_compile_cache/
__torch_dynamo_cache/
inductor_cache/
/.triton/auto-tune/  # Triton autotune 缓存

.triton/
*.ptx
*.cubin
*.fatbin

*.o
*.so
*.dll
*.lib
*.exp
*.pdb
*.obj

/tmp/torch_extension*
torch_extensions/

logs/
runs/
benchmark_logs/
debug_dump/


.env
.env.local
.env.*.local
pyproject.toml.local
setup.cfg.local
